<h1>Privacy Policy</h1>

<p>I will strive to maintain your personal privacy and not violate your trust with UGl.st. I do ask your patience and feedback as I figure out what level of sharing of data regarding our site's usage both internally and with third-parties. I ask that you please understand that sharing information isn't just about making money but increasing transparency for the members of our community and our supporters. If there are any questions you can reach me direct at <a href="mailto:mike+privacy@ugtastic.com">mike+privacy@ugtastic.com</a> to discuss ways to improve on our privacy practices.</p>

<h2>What we won't share or sell without your express consent</h2>

<ul>
  <li>Your email address</li>
  <li>Your full name</li>
  <li>Your preferred name</li>
  <li>Your specific demographic data. E.g. race, gender, age, orientation, etc.</li>
</ul>

<p>Your contact information will never be sold to a third-party. We will retain control of all your personal identifying information. If you receive any communication regarding a third-party then that will be via owned channels and not sold off so you can be spammed.</p>

<p>If there are other pieces of information gathered, that you think should be included in this list then place contact <a href="mailto:mike+privacy@ugtastic.com">mike+privacy@ugtastic.com</a>.</p>

<h2>What we may share with third-parties.</h2>

<p>We do try to gather information about communities and their participation including some demographic data.</p>

<p>An example might be that we would share something like "<em>User-Group typically has between 10-20 attendees to monthly meetings. ~25% female membership with ~20% female monthly attendance.</em>". That's just an example of what might be included in demographic data shared with third-parties.</p>

<h2>Culture of Opt-in</h2>

<p>Whenever there is any doubt as to whether sharing site information is going to reveal too much about you personally then we will ask for you to opt-in. By default your personally identifiable (to the best of my ability and knowledge) will be opted-out of sharing by default. If you choose to opt-in then appreciate your support and that information will be used to help improve our community.</p>

<h3>My Pledge</h3>

<strong>I promise to do my best to keep your trust and respect the sanctity of your data. -- Sincerely, Mike Hall</strong>
